.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: row; 
  align-items: center;
  justify-content: space-between;
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

.App-header-contents {
  margin-left: 20px;
  margin-right: 20px;
}

.App-header-user {


}

@media screen and (max-width: 1024px) {
  .App-header-user {
      display: none !important;
  }
}

.App-body {

}

.App-link {
  color: #61dafb;
}

.Scoreboard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.ScoreTable {
  width: 80%;
  padding: 15px;
  text-align: center;
  border: 1px solid black
} 

.ScoreTable-Header {
  height: 40px;
}

.ScoreTable-Row {
  height: 30px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Challenge {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.ChallengeForm {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
} 

.ChallengeTable {
  width: auto;
  padding: 15px;
  text-align: center;
  border: 1px solid black
} 

.ChallengeTable-Header {
  height: 40px;
}

.ChallengeTable-Row {
  height: 30px;
}

.App-buttons {
  padding: 14px 40px;
  font-size: 16px;
  background-color: #ff9900;
  color: white;
  border: none;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
